<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>YYY</h1>
<form class="form-group" th:action="@{/1}">
    <button type="submit" class="btn btn-primary">Create new</button>
    <a th:href="@{/film}">Film</a>
    <a th:href="@{/lamination}">Lamination film</a>
    <a th:href="@{/glue}">Glue</a>
    <a th:href="@{/1}"> sdsdsd </a>
    <button type="submit" class="btn btn-info">Info</button>
</form>

</body>
</html>
