<!--/*@thymesVar id="studentsList" type="java.util.List<Student>"*/-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Students List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h1>Product List</h1>
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <td>Id</td>
            <td>Title</td>
            <td>Thickness</td>
            <td>Width</td>
            <td>Length</td>
            <td>Brand</td>

        </tr>
        </thead>

        <tr th:each="l : ${lamination}">
            <td th:text="${l.id}"/>
            <td th:text="${l.title}"/>
            <td th:text="${l.thickness}"/>
            <td th:text="${l.width}"/>
            <td th:text="${l.length}"/>
            <td th:text="${l.brand}"/>
        </tr>
    </table>

</div>
</body>
</html>